:root {
    --color-primary: #3a7ca5;
    --color-primary-dark: #274060;
    --color-secondary: #ff9f1c;
    --color-secondary-light: #ffc971;
    --color-accent: #d98c4a;
    
    --color-background: #ffffff;           
    --color-background-section: #f4f4f4;   
    --color-text: #333;                    
    --color-text-light: #888;              
    --color-border: #f4f4f4;               
    --color-card-bg: #ffffff;              
    --color-icon: #274060;                 

    --color-success: #4CAF50;
    --color-error: #D32F2F;
    --color-white: #ffffff;
    --color-black: #000000;

    --font-primary: 'Poppins', sans-serif;
    --font-secondary: 'Roboto', sans-serif;
    --font-fallback-serif: 'Georgia', serif;
    --font-fallback-sans: 'Arial', 'Helvetica', sans-serif;
    --font-monospace: 'Courier New', monospace;
    --spacing-xs: 8px;
    --spacing-sm: 16px;
    --spacing-md: 24px;
    --spacing-lg: 32px;
    --spacing-xl: 48px;
    --spacing-xxl: 64px;
    --border-radius: 4px;
    --box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
}

/* Aplica variáveis do modo escuro quando html tem [data-theme="dark"] */
[data-theme="dark"] {
    --color-primary: #4e9dcc;
    --color-primary-dark: #8bb8d4;
    --color-secondary: #ffb347;
    --color-secondary-light: #ffc971;
    
    --color-background: #121212;
    --color-background-section: #1e1e1e;
    --color-text: #e0e0e0;
    --color-text-light: #aaaaaa;
    --color-border: #333;
    --color-card-bg: #2a2a2a;
    --color-icon: #e0e0e0;

    --box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

/* Aplica variáveis de alto contraste quando html tem [data-theme="contrast"] */
[data-theme="contrast"] {
    --color-primary: #FFFF00;
    --color-primary-dark: #FFFF00;
    --color-secondary: #00FFFF;
    --color-secondary-light: #00FFFF;
    
    --color-background: #000000;
    --color-background-section: #000000;
    --color-text: #ffffff;
    --color-text-light: #ffffff;
    --color-border: #ffffff;
    --color-card-bg: #000000;
    --color-icon: #ffffff;
    
    --color-success: #00FF00;
    --color-error: #FF00FF;
    --color-white: #ffffff;
    --color-black: #000000;
    
    --box-shadow: none;
}